html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #1c2162;
   
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    
}

header{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    
}

section{
    margin: 0;
    padding: 0;
    height: 11.5rem;
    background-color: #f4b21b;
}

section > span{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    clear: both;
}

section > span > img{
    margin: 0;
    padding: 0;
    width: calc(230px/2);
    
}

#navy_logo{
    width: 20%;
    text-align: center;
    float: left;
}

#navy_logo > img{
    float: right;
}

section > nav{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#6b6c88;
    width:60%;
    text-align: center;
    float:left;
}

#vet_logo > img {
    margin:0;
    padding:0;
    float:left;
}

nav > ul{
    margin:0 auto;
    padding:0;
    text-align:center;
    
}

nav > ul > li{
    margin:0;
    padding:0;
    display:inline;
    line-height:normal;
    width:calc(100%/5);
    height:11.5rem;
    float:left;
}

nav > ul > li > a{
    display:inline-block;
    margin:0;
    padding:0;
    width:100%;
    text-decoration:none;
    color:#ffffff;
    margin-top: 3.5rem;
}

nav > ul > li > a:hover{
    text-decoration:underline;
    background-color:#8598a9;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5rem;
    
}

main > span{
    margin: 0;
    padding: 0;
    width: 100%;
    
    
}

#table_mont{
    margin: 0;
    padding 0;
    width: 20%;
    float: left;
    
}

#flag_img{
    margin-left: 40px;
    padding: 0;
    width: 60%;
}

#donate{
    margin-right: 40px; 
    padding: 0;
    width: 20%;
    float: right;
}

div{
    position: absolute;
    top: 275px;
    right: 73.5px;
    width: 180px;
    height: 400px;
    padding: 5px;
    display: block;
    
}

div > span{
    margin-bottom: 10px;
    padding: 0;
    background: #f4f4f4;
    font-size: 1.6rem;
    display: block;
    border-style: solid;
    border-width: 1rem;
    border-color: goldenrod;
    border-radius: .5rem;
    
    
}

article{
    margin: 0 auto;
    padding: 0;
    width: 50%;
    border-style: solid;
    border-width: 1rem;
    border-color: goldenrod;
    border-radius: .5rem;
    background-color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

article > ul > li{
    list-style-type: none;
    
}
article > p{
    padding: 0;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    font-size: 1.7rem;
}

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    display: block;
    
}
footer > span{
    margin: 0;
    padding: 0;
    width: 100%;
    border: box;
    color: #ffffff;
    
}