html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #1c2162;
   
}

header{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    
}

section{
    margin: 0;
    padding: 0;
    height: 11.5rem;
    background-color: #f4b21b;
}

section > span{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    clear: both;
}

section > span > img{
    margin: 0;
    padding: 0;
    width: calc(230px/2);
    
}

#navy_logo{
    width: 20%;
    text-align: center;
    float: left;
}

#navy_logo > img{
    float:right;
}


section > nav{
    margin:0;
    padding:0;
    height:11.5rem;
    background-color:#6b6c88;
    width:60%;
    text-align: center;
    float:left;
}

#vet_logo > img {
    margin:0;
    padding:0;
    float:left;
}

nav > ul{
    margin:0 auto;
    padding:0;
    text-align:center;
}

nav > ul > li{
    margin:0;
    padding:0;
    display:inline;
    line-height:11.5rem;
    width:calc(100%/5);
    height:11.5rem;
    float:left
}

nav > ul > li > a{
    display:inline-block;
    margin:0;
    padding:0;
    width:100%;
    text-decoration:none;
    color:#ffffff;
}

nav > ul > li > a:hover{
    text-decoration:underline;
    background-color:#8598a9;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    
}

#table_mont{
    margin: 0;
    padding 0;
    float:left;
    font-size: 2.5rem;
    color: #000000;
    background-color: #ffffff;
}

#soldier_img{}

#donate{
    margin: 0;
    padding: 0;
    float: right;
    
}