html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #1c2162;
   
}

body{
     background-image:url(http://i.imgur.com/BCke3jM.jpg);
    background-size:auto;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

    
}
header{
    padding-left: 17rem;
    margin: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
        
    
    
}

#donate_button{
    float: right;
    position:fixed;
    margin-top: 8rem;
    right: 10rem;
    width: 12rem;
    height: 4rem;
    border: solid .5rem white;
    background-color: #f4b21b;
    font-size: 1.2rem;
    
}

#nav_bar{
    padding: 0;
    width: 0;
    text-align: center;    
}

ul{
    list-style-type: none;
    padding: 0;
    width: 50rem;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    background-color: #f4b21b;
    border: solid .5rem white;
}

li{
    display: inline-block;
    letter-spacing: 0.2rem;
    text-align: center;
}

main{
    padding-top: 2rem;
}